.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
ul.dropdown-menu ul.dropdown-menu{
    display:none !important;
}
ul.dropdown-menu ul.dropdown-menu.active{
    display:block !important;
}
ul.dropdown-menu ul