<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Show No Mercy!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('CSS/MultipleLevelDropdown.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/main.css') }}">
    {% endblock %}
    {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="{{ asset('JavaScript/MultipleLevelDropdown.js') }} "></script>
    {% endblock %}

</head>
<body class="d-flex flex-column h-100">
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('user_index') }}">Show No Mercy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_new') }}">Registreren</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dropdown dropdown-color m-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="button-t">Kies tabel
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#" id="drop1"> Activiteiten <i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-menu dropmenu1">
                    <li><a tabindex="-1" href="{{ path('user_index') }}">Alleen</a></li>
                    <li><a tabindex="-1" href="{{ path('act_1') }}">Fysiek samen</a></li>
                    <li><a tabindex="-1" href="{{ path('act_2') }}">Online samen</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#" id="drop2">Categorieën en namen<i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-menu dropmenu2">
                    <li><a tabindex="-1" href="{{ path('cat_1') }}">Kaartspel</a></li>
                    <li><a tabindex="-1" href="{{ path('cat_2') }}">Strategisch bordspel</a></li>
                    <li><a tabindex="-1" href="{{ path('cat_3') }}">Fantasy bordspel</a></li>
                    <li><a tabindex="-1" href="{{ path('cat_4') }}">Klassiek gezelschapspel </a></li>
                    <li><a tabindex="-1" href="{{ path('cat_5') }}">Sport</a></li>
                    <li><a tabindex="-1" href="{{ path('cat_6') }}">Adventure</a></li>
                    <li><a tabindex="-1" href="{{ path('cat_7') }}">Wargames</a></li>
                    <li><a tabindex="-1" href="{{ path('cat_8') }}">Strategic games</a></li>
                </ul>
            </li>
            <li><a tabindex="-1" href="{{ path('category_index') }}">Categorieën</a></li>
            <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="#" id="drop3">Gametype en namen<i class="fas fa-caret-down"></i></a>
                <ul class="dropdown-menu dropmenu3">
                    <li><a tabindex="-1" href="{{ path('type_1') }}">Bordspel</a></li>
                    <li><a tabindex="-1" href="{{ path('type_2') }}">Computerspel</a></li>
                </ul>
            </li>
            <li><a tabindex="-1" href="{{ path('name') }}">Namen</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}{% endblock %}


{% block footer %}
    <footer class="footer mt-auto py-3">
                        <span class="text-muted">
                            <p class="pt-3">&copy;{{ "now"|date('Y') }} Show No Mercy
                    {% if app.user is null %}
                        <a class="login text-secondary" href="{{ path('app_login') }}">Login Admin</a>
                   {% else %}
                        <a class="login text-secondary" href="{{ path('app_logout') }}">Loguit</a>
                    {% endif %}
                            </p>
                        </span>
        </div>
    </footer>
{% endblock %}
</body>
</html>
