{{ form_start(form) }}
    {{ form_widget(form,{'attr': {'style': 'width:30%; margin-left:35%;'}}) }}
    <button class="btn btn-success" style="width: 30%">{{ button_label|default('Opslaan') }}</button>
{{ form_end(form) }}
<a href="{{ path('user_index') }}"><u>Annuleren</u></a>
