{% extends 'base.html.twig' %}

{% block title %}Show No Mercy{% endblock %}
{% block body %}


    <table class="table" style="text-align: center">
        <thead>

        <tr>
            <th>Categorieën</th>
        </tr>

        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user is not null %}
        <form method="post" name="csv">
            <input class="btn btn-outline-secondary m-3 float-right" type="submit" name="csv" value="Exporteren">
        </form>
    {% endif %}

{% endblock %}
