{% extends 'base.html.twig' %}

{% block title %}Show No Mercy{% endblock %}
{% block body %}


    <table class="table" style="text-align: center">
        <thead>

        <tr>
            {% for topName in topNames %}
                <th>{{ topName.name }}</th>
                {% if app.user is not null %}
                    {% if "ROLE_ADMIN" in  app.user.roles %}
                        <th>Verwijderen</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>

        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                {% if app.user is not null %}
                    {% if "ROLE_ADMIN" in  app.user.roles %}
                        <td>{{ include('user/_delete_form.html.twig') }}</td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user is not null %}
        <form method="post" name="csv">
            <input class="btn btn-outline-secondary m-3 float-right" type="submit" name="csv" value="Exporteren">
        </form>
    {% endif %}

{% endblock %}
