{% extends 'base.html.twig' %}

{% block title %}Show No Mercy{% endblock %}
{% block body %}


    <table class="table" style="text-align: center">
        <thead>

        <tr>
            <th>Naam</th>
            {% if app.user is not null %}
            {% if "ROLE_ADMIN" in  app.user.roles %}
            <th>Vewijderen</th>
            {% endif %}
            {% endif %}
        </tr>

        </thead>
        <tbody>
        {% for name in names %}
        <tr>
            <td>{{ name.name }}</td>
            {% if app.user is not null %}
            {% if "ROLE_ADMIN" in  app.user.roles %}
            <td>{{ include('user/name_delete_form.html.twig') }}</td>
            {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user is not null %}
        <form method="post" name="csv">
            <input class="btn btn-outline-secondary m-3 float-right" type="submit" name="csv" value="Exporteren">
        </form>
    {% endif %}

{% endblock %}
