{% extends 'base.html.twig' %}

{% block title %}Registreren{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
    <div style="text-align: center">
    <h1>Registreren</h1>

    {{ include('user/_form.html.twig') }}

<script>
    $(document).ready(function(){
        $('.Typ').change(function(event) {
            if (event['currentTarget']['value'] == 2) {
                $('.Comp').show();
                $('.Bord').hide();
            } else {
                $('.Bord').show();
                $('.Comp').hide();
            }
        }

    );
    });
</script>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
